<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Chi tiết khuyến mại</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Khuyến mại</a></li>
                    <li class="breadcrumb-item active">Chi tiết khuyến mại</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" style="max-width: 100%;height: 600px;" src="../Chicken/images/KhuyenMai/khuyenmai1.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">THỨ 2 MUA 1 TẶNG 1 - ƯU ĐÃI GIAO HÀNG TẬN NƠI</h2>
                <p>
                    THỨ 2 MUA 1 TẶNG 1 - ƯU ĐÃI GIAO HÀNG TẬN NƠI <br />

                    Mua 1 được 2 khi đặt qua app/web Popeyes hoặc Hotline 19006008 vào thứ 2 <br />

                    -         Mua Combo 2 miếng gà giòn + 1 Coke tặng 2 miếng gà giòn chỉ 94k <br />

                    -         Mua Combo 3 miếng gà giòn + 1 Coke tặng 3 miếng gà giòn chỉ 130k <br />



                    ------------------ <br />

                    T&C: <br />

                    -   Áp dụng khách đặt Delivery (không áp dụng pick-up) trên website/ app Popeyes hoặc Hotline <br />

                    -   Áp dụng mỗi thứ 2 hàng tuần <br />

                    -   Phí giao hàng 15,000đ cho mỗi đơn hàng. <br />

                    -   Áp dụng cho các cửa hàng Popeyes trừ sân bay và Phú Quốc <br />

                    -   Không áp dụng cho đơn hàng trên 500.000 (Tổng giá trị của các sản phẩm khuyến mãi không vượt quá 500k) <br />

                    -   Phần gà được phục vụ ngẫu nhiên <br />

                    -   Popeyes có quyền thay đổi điều kiện và điều khoản chương trình mà không cần thông báo trước <br />

                    -   Không áp dụng vào Lễ Tết. <br />
                </p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Các sản phẩm trong chương trình khuyến mãi</h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-3 col-md-6 special-grid bulbs">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="../Chicken/images/KhuyenMai/ctkhuyenmai1.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ Hàng</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 special-grid fruits">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <img src="../Chicken/images/KhuyenMai/ctkhuyenmai1.jpg" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm Vào Giỏ Hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->
    <!-- Start Instagram Feed  -->
    <!-- End Instagram Feed  -->
    <!-- Start Footer  -->
