


<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Khuyến Mại</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Khuyến Mại</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start Gallery  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Khuyến Mại</h1>
                </div>
            </div>
        </div>


        <!-- Start Blog  -->
        <div class="latest-blog">
            <div class="container">
                @*<div class="row">
                <div class="col-lg-12">
                <div class="title-all text-center">
                <h1>latest blog</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
                </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="../Chicken/images/KhuyenMai/khuyenmai1.jpg" style="width: 330px; height: 279px;" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>THỨ 2 MUA 1 TẶNG 1 - ƯU ĐÃI GIAO HÀNG TẬN NƠI</h3>
                                    <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                                </div>
                                <br />
                                <div class="mask-icon">
                                    <a class="cart" asp-controller="KhuyenMai" asp-action="ChiTietKhuyenMai">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" src="../Chicken/images/KhuyenMai/khuyenmai2.jpg" style="width: 330px; height: 279px;" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>GIẢM 40% KHI ORDER QUA APP/WEBSITE</h3>
                                    <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                                </div>
                                <br />
                                <div class="mask-icon">
                                    <a class="cart" asp-controller="KhuyenMai" asp-action="ChiTietKhuyenMai">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-4">
                        <div class="blog-box">
                            <div class="blog-img">
                                <img class="img-fluid" style="width: 330px; height: 279px;" src="../Chicken/images/KhuyenMai/khuyenmai4.jpg" alt="" />
                            </div>
                            <div class="blog-content">
                                <div class="title-blog">
                                    <h3>COMBO GÀ POP CHEESE GIẢM ĐẾN 58K</h3>
                                    <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                                </div>
                                <br />
                                <div class="mask-icon">
                                    <a class="cart" asp-controller="KhuyenMai" asp-action="ChiTietKhuyenMai">Xem Thêm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog  -->
    </div>
</div>
 <!-- End Gallery  -->

    