

<!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Chi tiết tài khoản</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Tài khoản của tôi</a></li>
                        <li class="breadcrumb-item active">Chi tiết tài khoản</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <div class="cart-box-main">
        <div class="container">
            <div class="row new-account-login">
                <div class="col-sm-12 col-lg-6 mb-3" style="float: right;">
                    <div class="title-left">
                        <h5>Chi tiết tài khoản</h5>
                    </div>

                    <form class="mt-3 review-form-box" id="contactForm">
                        <div class="form-row">

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="InputName" class="mb-0">Họ</label>
                                <input type="text" class="form-control" id="InputName" name="name" placeholder="Họ" required data-error="Bạn chưa nhập họ">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="InputLastname" class="mb-0">Tên</label>
                                <input type="text" class="form-control" id="InputLastname" placeholder="Tên" required data-error="Bạn chưa nhập tên">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="InputPhone" class="mb-0">Số điện thoại</label>
                                <input type="text" class="form-control" id="InputPhone" placeholder="Số điện thoại" required data-error="Bạn chưa nhập số điện thoại">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="InputContry" class="mb-0">Địa chỉ</label>
                                <input type="text" class="form-control" id="InputContry" placeholder="Địa chỉ" required data-error="Bạn chưa nhập số địa chỉ">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="InputEmail" class="mb-0">Email</label>
                                <input type="email" class="form-control" id="InputEmail" placeholder="Email" required data-error="Bạn chưa nhập email">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12" style="padding: 0px;">
                                <label for="Gioi-Tinh" class="mb-0">Giới tính</label>
                                <select id="Gioi-Tinh" name="Gioi-Tinh" class="form-control" type="text"required data-error="Bạn chưa chọn giới tính">
                                        <option value=""></option>
                                        <option value="Nam">Nam</option>
                                        <option value="Nu">Nữ</option>
                                        <option value="Khac">Khác</option>
                                        
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group test col-md-12 " style="padding: 0px;">
                                <label for="InputEmail1" class="mb-0">Ngày sinh của bạn(tùy chọn)</label>
                                <input type="date" class="form-control" id="InputDate" placeholder="Ngày sinh" required data-error="Bạn chưa chọn ngày sinh">
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class=" form-group col-md-12" style="padding: 0px;">
                                <div class="submit-button text-center">
                                    <button class="btn hvr-hover" id="submit" type="submit">Cập nhật thông tin</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
