<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Freshshop - Ecommerce Bootstrap 4 HTML Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../Chicken/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../Chicken/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../Chicken/css/bootstraps.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../Chicken/css/styles1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../Chicken/css/responsives.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../Chicken/css/custom1.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                            <option>¥ JPY</option>
                            <option>$ USD</option>
                            <option>€ EUR</option>
                        </select>
                    </div>
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a asp-controller="TaiKhoan" asp-action="TaiKhoan"><i class="fa fa-user s_color"></i>Tài Khoản của tôi</a></li>
                            <li><a asp-controller="ThongTin" asp-action="DiaChiNhaHang"><i class="fas fa-location-arrow"></i>Địa điểm của chúng tôi</a></li>
                            <li><a asp-controller="ThongTin" asp-action="LienHe"><i class="fas fa-headset"></i> Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    @*<div class="login-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
                            <option>Register Here</option>
                            <option>Sign In</option>
                        </select>
                    </div>*@
                    <div class="login-box">
                        <a asp-controller="TaiKhoan" asp-action="DangNhap" style="color: white; font-size: 18px;"><i class="fa fa-user s_color"></i>Đăng nhập</a>
                        <a asp-controller="TaiKhoan" asp-action="DangKy" style="margin-left: 10px; color: white; font-size: 18px;"><i class="fa fa-user s_color"></i>Đăng kí</a>
                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" asp-controller="TrangChu" asp-action="TrangChu"><img src="../Chicken/images/Logo/logoChicken.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" asp-controller="TrangChu" asp-action="TrangChu">Trang chủ</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thực đơn</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="ThucDon" asp-action="ComBo">Combo</a></li>
                                <li><a asp-controller="ThucDon" asp-action="ThucAnTrua">Thức ăn trưa</a></li>
                                <li><a asp-controller="ThucDon" asp-action="NuocUong">Nước uống</a></li>
                                <li><a asp-controller="ThucDon" asp-action="MonChinh">Món chính</a></li>
                                <li><a asp-controller="ThucDon" asp-action="DongGia">Đồng giá</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="KhuyenMai" asp-action="KhuyenMai">Khuyến mại</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Thông tin</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="ThongTin" asp-action="GioiThieu">Giới thiệu</a></li>
                                <li><a asp-controller="ThongTin" asp-action="LienHe">Liên hệ</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="BaiViet" asp-action="BaiViet">Bài viết</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
                            <a id="Gio-Hang" asp-controller="GioHang" asp-action="GioHang">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge">3</span>
                                <p>Giỏ hàng</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="../Chicken/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="../Chicken/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="../Chicken/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
        @RenderBody()
    <!-- Start Instagram Feed  -->
    <div class="instagram-box">
        <div class="main-instagram owl-carousel owl-theme">
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/CanhGaSotCayChayLuoi.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/CanhGaSotCreamyOnion.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/CanhGaTruyenThong.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/DuiGaSotCayChayluoi.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/DuiGaSotNguVi.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/GaNuaConSotCayChayLuoi.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/GaNuaConSotCreamyOnion.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ins-inner-box">
                    <img src="../Chicken/images/ThucDon/MonChinh/GaNuaConSotNguVi.png" alt="" />
                    <div class="hov-in">
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Instagram Feed  -->
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Giờ làm việc</h3>
                            <ul class="list-time">
                                <li>Thứ 2 - Thứ 6: 08.00sa to 05.00ch</li>
                                <li>Thứ 7: 10.00sa to 08.00ch</li>
                                <li>Chủ nhật: <span>Đóng cửa</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Bản tin</h3>
                            <form class="newsletter-box">
                                <div class="form-group">
                                    <input class="" type="email" name="Email" placeholder="Email Address*" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <button class="btn hvr-hover" type="submit">Gửi</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Kênh xã hội</h3>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>Về website</h4>
                            <p>Website phục vụ các khách hàng có nhu cầu đặt gà online. O đây chúng tôi cung cấp những miếng gà ngon</p>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Chính sách</h4>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#">Dịch vụ khách hàng</a></li>
                                @*<li><a href="#">Our Sitemap</a></li>*@
                                <li><a href="#">Điều khoản và điều kiện</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Thông tin giao hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Liên hệ với chúng tôi</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Địa chỉ: Số 3 <br>Cầu giấy<br> Hà Nội </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Số điện thoại: <a href="tel:+1-888705770">+84 0123456789</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">Nhom04@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">
            . &copy; 2023 <a href="#">ThewayShop</a> Design By :
            <a href="https://html.design/">html design</a>
        </p>
    </div>
   
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none; height:0px">&#9996;</a>

    <!-- ALL JS FILES -->
    <script src="../Chicken/js/jquery-3.2.1.min.js"></script>
    <script src="../Chicken/js/popper.min.js"></script>
    <script src="../Chicken/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../Chicken/js/jquery.superslides.min.js"></script>
    <script src="../Chicken/js/bootstrap-select.js"></script>
    <script src="../Chicken/js/inewsticker.js"></script>
    <script src="../Chicken/js/bootsnav.js."></script>
    <script src="../Chicken/js/images-loded.min.js"></script>
    <script src="../Chicken/js/isotope.min.js"></script>
    <script src="../Chicken/js/owl.carousel.min.js"></script>
    <script src="../Chicken/js/baguetteBox.min.js"></script>
    <script src="../Chicken/js/form-validator.min.js"></script>
    <script src="../Chicken/js/contact-form-script.js"></script>
    <script src="../Chicken/js/custom.js"></script>
    <script src="../Chicken/js/jquery-ui.js"></script>
    <script src="../Chicken/js/jquery.nicescroll.min.js"></script>
</body>

</html>
