<!-- Sản phẩm nổi bật -->
<div class="row my-5">
    <div class="col-lg-12">
        <div class="title-all text-center">
            <h1>Sản phẩm nổi bật</h1>
            <p>Khách hàng rất quan trọng, Khách hàng luôn được chúng tôi theo dõi. Đó là niềm vui của chúng tôi.</p>
        </div>
        <div class="featured-products-box owl-carousel owl-theme">
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/CanhGaSotCayChayLuoi.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Cánh gà sốt cay cháy lưỡi</h4>
                        <h5>1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/canhgasotcreamyonion.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giả hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Cánh gà sốt CreamyOnion</h4>
                        <h5> 1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/canhgatruyenthong.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Cành gà truyền thống</h4>
                        <h5> 1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/duigasotcaychayluoi.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Đùi gà sốt cay cháy lưỡi</h4>
                        <h5>1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/duigasotnguvi.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Đùi ngà sốt ngũ vị</h4>
                        <h5> 1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/ganuaconsotnguvi.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Gà nửa con sốt ngũ vị</h4>
                        <h5>1đ</h5>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <img src="../chicken/images/ThucDon/MonChinh/ganuaconsotcaychayluoi.png" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>Gà nửa con sốt cay chay lưỡi</h4>
                        <h5>1đ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sản phẩm nổi bật -->